<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suitel" verbose="1" >

    <!-- This parameter defines which browser the suite is going to run on -->
    <!-- Possible options are defined here: src/main/java/enums/BrowserEnum.java -->

    <parameter name="browser" value="CHROME"/>
    <!--<parameter name="browser" value="FIREFOX"/>-->


    <test name="TestBrowser">
        <!--<parameter name="firstName" value="Vitalia"/>-->
        <!--<parameter name="lastName" value="Vitaliaaaa"/>-->
        <!--<parameter name="country" value="Ukraine"/>-->
        <!--<parameter name="month" value="3"/>-->
        <!--<parameter name="day" value="23"/>-->
        <!--<parameter name="year" value="1990"/>-->
        <!--<parameter name="phoneNumber" value="0678884422"/>-->
        <!--<parameter name="username" value="vitalik"/>-->
        <!--<parameter name="email" value="tt696616@gmail.com"/>-->
        <!--<parameter name="description" value="some description "/>-->
        <!--<parameter name="password" value="votalik123"/>-->


        <classes>
            <class name="TestDragDraggableBox"/>
            <class name="TestFrameTabSwitching"/>
            <class name="TestRegistration"/>
            <class name="TestSelectable"/>
            <class name="TestTabSwitch"/>
        </classes>

    </test>



</suite>